html {
  background-color: white;
  background-image:url('/images/background-pattern.png');
  background-repeat: repeat;
}
body {
  color: white;
  text-align: center;
  font-family: "Helvetica", sans-serif;

}
a, a:visited, a:hover {
  text-decoration: none;
  color: white
}
a:hover {
  color: #76EE00;
}
a.purple:hover {
  color: #d20ad0;
}
img {
  text-decoration: none;
  border:none;
}
.gemstone {
  font-family: 'GemFontOneRegular';
}
.cornerstone {
  font-family: 'CornerstoneRegular';
}
.premi {
  font-family: 'PremiRegular';
}
.agency {
  font-family: 'AgencyRegular';
}
.broadway {
  font-family: 'BroadwayRegular';
}
#header_top {
  text-align: center;
  padding-bottom: 30px;
}
#band_name {
  font-size: 7.2em;
}
#album_name {
  font-size: 1.81em;
}
img.album {
  max-width: 281px;
  max-height: 281px;
}
.alb_header_main, .alb_header_2 {
  letter-spacing: 1.11em;
  padding-left: 35px;
}
.alb_header_1 {
  letter-spacing: 0.41em;
  padding-left: 13px;
}
#feat_name {
  text-align: right;
  padding-right: 87px;
  font-size: 2.2em;
}
#container{
  background-color: black;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 65em;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;

}
#page {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: left;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  width: 50em;
}
#albums_container {
  padding-top: 50px;
  padding-left: 20px;
}
#dplayer {
  padding-top: 20px;
}
.page_album {
  float: left;
}
.album_download {
  min-width: 200px;
  min-height: 200px;
}
#head_seperator {
    padding-top: 140px;
}
#headers {
}
.header {
  float: left;
  font-size: 1.3em;
}
#header_tnum {
  min-width: 400px;
}
#header_ndown {
  padding-left: 87px;
}
#header_types{
  padding-left: 47px;
}
#track_seperator {
    padding-top: 15px;
}
.agency-header {
  letter-spacing: 0.2em;
}
.track {
  padding-bottom: 40px;
}
.tinfo {
  float: left;
  padding-left: 12px;
}
.track_number {
  min-width: 20px;
  text-align:right;
}
.track_name {
  min-width: 480px;
}
.downloads {
  min-width: 82px;
}
.track_link {
  min-width: 40px;
  padding-left: 80px;
}
.clear {
  clear: both;
}
#page_footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer_link {
  float: left;
  font-size: 2.0em;
}
.as {
  padding-left: 90px;
}
.aa {
  padding-left: 120px;
}
.fuzz { 
  position:absolute; 
  top:0; 
  left:0; 
  width:100%; 
  z-index:100; 
  background: url('/images/dim.png'); 
  display:none; 
  text-align:left; 
} 
.msgbox { 
  z-index:200; 
}  
.msgbox img {
  border:none; 
  margin:5px;
}  
.msgbox_content {
  padding-left: 112px;
  padding-right : 112px;
  padding-bottom: 37px;
}
.close{ 
  top: 0px; 
  float:right; 
}  
.rounded_submit {
  background-color: #d20ad0;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.rounded {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.message_us_submit {
  padding: 6px 16px 6px 16px;
  float: right;
  margin-left: 30px;
}
.message_us_inputs {
  width: 280px;
  border: none;
}
#message_us_header {
  font-size: 25px;
  padding-left: 30px;
}
#notified_header {
  padding-left: 10px;
  padding-top: 10px;
}
#about_header {
  padding-left: 15px;
  padding-top: 15px;
}
#about_content {
  width: 300px;
  margin: 0 auto;
}
#fb_comments_container {
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: center;
}
.sizer {
  padding-top: 20px;
  padding-left: 110px;
}
#shbam_container {
  float: right;
  width: 500px;
  padding-left: 30px;
  padding-top: 20px;
  height: 230px;
}
#broad_sbam {
  font-size: 14pt;
  letter-spacing: 0.22em;
  padding-left: 20px;
}
#sbam_btn {
  cursor: pointer;
}
#bam_btn_container {
  margin-top: 30px;
}
#full_record_links {
  float: left;
  height: 200px;
}
#location_hits {
  float: right;
}
.location {
  padding-top: 12px;
  font-size: 16pt;
  letter-spacing: 0.20em;
}
.stats {
  font-size: 11pt;
  letter-spacing: 0.20em;
}
.loc_highlight {
  color: #d20ad0;
}
#content_info {
  padding-bottom: 43px;
}
#want {
  font-size: 13pt;
  letter-spacing: 0.13em;
}
#spec {
  padding-top: 20px;
  font-size: 13pt;
  letter-spacing: 0.13em;
}
#preload {
  display: none;
}
#five_btn {
  cursor: pointer;
}
#five_exp {
  width: 400px;
  margin: 0 auto;
  padding: 25px 40px;
}
#five_form {
  width: 300px;
  margin: 0 auto;
  text-align: right;
}
#city_leaderboard {
  padding-top: 0px;
  padding-bottom: 80px;
  width: 800px;;
  margin: 0 auto;
}
.ccont {
  float: left;
  padding-right: 20px;
  width: 245px;
  display: block;
  text-align: right;
}
.cstats {
  display: inline;
}
.clocation {
  display: inline;
}
form input[type="text"] {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  height: 25px;
  font-size: 12pt;
}
form textarea {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
form input:focus {
  border: 3px solid #d20ad0;
  outline: none; 
}
