#container{
  width: 75em;
}
#page {
  width: 75em;
}
#header_top {
}
#feat_name {
  text-align: right;
  padding-right: 210px;
}
#headers {
  padding-left: 45px;
}
.track_number {
  padding-left: 45px;
}
#albums_container {
  padding-left: 75px;
}
#page_footer {
  padding-left: 100px;
}
