<p>
Send the link below to some of your friends, <br/>
As soon as someone visits this link,<br/> 
We'll send you five new tracks from our new album (The UK vs US Elixir album). 
</p>
<br/>
<br/>
<a href="<%= unlock_hash_url(@email.link_hash)%>>"><%= unlock_hash_url(@email.link_hash) %></a>
