<div id="want" class="gemstone">Want to hear the newest stuff not available to anyone else?</div>
<img id="five_btn" src="/images/five_new_tracks_btn.png">
<div id="spec" class="gemstone">If JUST ONE of your friends visits this site, we'll give you FIVE unreleased tracks. Click the button to get your copy.</div>
